<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Classification" content="Portfolio">
    <meta name="identifier-URL" content="">
    <meta name="directory" content="submission">
    <meta name="category" content="Internet">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="target" content="all">
    <meta name="HandheldFriendly" content="True">
    <meta name="author" content="techparkit">
    <meta name="developer" content="Yamin Hossain, Masum Shefat, Alif Sagir">
    <meta name="developer-email" content="yaminh911@gmail.com, mshefat924@gmail.com, alifsagir@gmail.com">
    <meta name="developer-company" content="techpark">
    <meta name="copyright" content="2023 all rights reserved ©  নুর মোহাম্মদ আবু তাহের">
    <meta name="revisit" content="1 days">

    <link rel="icon" type="image/png" href="<%='https://noortaher.info/uploads/posts/bnu.png' %>">

    <title> <%= seo_title? seo_title : "নুর মোহাম্মদ আবু তাহের" %> </title>
    <meta name="keywords" content="<%= commonData.seo_keyword? seo_keyword : "নুর মোহাম্মদ আবু তাহের" %>">
    <meta name="description" content="<%= seo_description? seo_description : "ইউপি চেয়ারম্যান" %>">
    
    <meta property="og:title" content="<%= seo_title? seo_title : "নুর মোহাম্মদ আবু তাহের" %>">
    <meta property="og:site_name" content="নুর মোহাম্মদ আবু তাহের">
    <meta property="og:description" content="<%= seo_description? seo_description : "ইউপি চেয়ারম্যান" %>">
    <meta property="og:type" content="Personal portfolio">
    <meta property="og:url" content="https://noortaher.info">
    <meta property="og:image" content="<%= seo_image? seo_image : "https://noortaher.info/uploads/posts/bnu.png" %>">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <meta name="twitter:title" content="<%= seo_title? seo_title : "নুর মোহাম্মদ আবু তাহের" %>">
    <meta name="twitter:description" content="<%= seo_description? seo_description : "ইউপি চেয়ারম্যান" %>">
    <meta name="twitter:image" content="<%= seo_image? seo_image : "https://noortaher.info/uploads/posts/bnu.png" %>">
    <meta name="twitter:card" content="summary_large_image">
    
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/icon/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.3/venobox.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/assets/owlcarousel/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="/assets/jquery/jqueryCdn.js"></script>
</head>